.responsive-table .label {
    display: none;
}
@media screen and (max-width: 768px) {
    .responsive-table .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 10px;
    }

    .responsive-table .col {
        margin: 5px 0;
    }

    .responsive-table .label {
        font-weight: bold;
        display: inline-block;
    }

    .responsive-table .value {
        display: inline-block;
        margin-left: 5px;
    }
}

